<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
</head>
<body>

<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>






<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Twitter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">



            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <span class="nav-link active">Welcome, <span th:text="${session.name}"></span></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled"></a>
                </li>
            </ul>


            <form class="d-flex" role="search" method="get" action="/addtweet">
                <button class="btn btn-primary mx-4" type="submit">Add</button>
            </form>


            <form class="d-flex" role="search" action="/logout" method="post">
                <button class="btn btn-primary" type="submit">Log Out</button>
            </form>






        </div>
    </div>
</nav>

<div class="container">

    <div class="my-4 p-5" th:each="tweet : ${tweets}">
        <form class="card container" action="/comment" method="post">
        <div class="card container ">
            <h3 th:text="${tweet.user.name}"></h3>
        </div>
            <input type="hidden" name="id" th:value="${tweet.id}" />


        <div class="container card  p-5">
            <h5 th:text="${tweet.text}"></h5>
        </div>

            <div class="container card  p-5">
                <h4>Likes</h4><h5 th:text="${tweet.likes}"></h5>
            </div>



            <button type="submit" class="btn btn-danger w-25">Like</button>


        </form>

        <form action="deletetweet" method="post">

            <input type="hidden" name="id" th:value="${tweet.id}" />

            <button type="submit" class="btn btn-primary w-25 " th:if="${tweet.user.name == session.name}">
                Delete
            </button>
        </form>


        <!-- Add more columns here as needed -->
    </div>
</div>












</body>
</html>